body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a1622;
    color: white;
}
.top-bar {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links-left {
    margin-right: auto;
}
.nav-links-left a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.dropbtn {
    background-color: #ffff00;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.carousel-container {
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.about-container {
    flex: 3;
    max-width: 800px;
    margin-top: -10px;
}
.about-container h1 {
    font-size: 2.5em;
    color: #ffff00;
    margin-bottom: 20px;
}
.about-container p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #ddd;
}
.socials-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.socials-container h2 {
    font-size: 2em;
    color: #ffff00;
    margin-bottom: 20px;
}
.socials-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.carousel {
    display: flex;
    animation: scroll 20s linear infinite;
}
.carousel-item {
    flex: 0 0 auto;
    width: 200px;
    height: 150px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
